/*Overall Styling*/
body {
  text-align: center;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  background-image: linear-gradient(rgb(255,255,255), rgb(245,245,245));
}

.div-right h1, .div-right h2 {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  position: relative;
  /*top: -40px;*/
  letter-spacing: 32px;
  text-indent: 32px;
  margin: -32px  0 auto;
  margin-block-start: ;
}

.div-right h4 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
}

.div-right p {
  line-height: 1.2;
}

.main {
  margin-left: 160px;  Same as the width of the sidebar
  padding: 0px 10px;
}

.div-right {
  width: 720px;
  left: 160px;
  margin: 60px auto;
  position: relative;
  background-color: rgb(240,240,240);
  border: 1px solid rgb(230,230,230);
  border-radius: 2px;
  padding: 0 10px;
  /*position: relative;
  top: 60px;*/

}

/*Topnav*/
.topnav{
  z-index: 1;
}


/*Sidenav*/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 320px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2;  /*Stay on top*/
  top: 0;  /*Stay at the top*/
  left: 0;
  background-color: #FFD972; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav h1, h2 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

.sidenav a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
}

.sidenav ul {
  list-style-type: none;
  padding-left: 0px;
}

.sidenav li {
  text-align: center;
  line-height: 2;
}

/* Specific Styling */

.img-circle {
  width: 200px;
  border-radius: 50%;
}

.img-up {
  position:relative;
  margin-top: -60px;
}

.logo_edu {
  height: 50px;
}

.logo_round {
  border-radius: 50%;
}

/*Top Navigation*/

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover {
  background-color: #111;
}



/*Table Styling*/


table {
  margin-top: 30px;
  width: 100%;
  line-height: 20px;
  position: relative;
  top: -20px;
}

tr {
  line-height: 14px;
}

